# Mission to Mars

In this assignment we will build a web application that scrapes various websites for data related to the Mission to Mars, and displays the information in a single HTML page.

### Step 1 - Scraping

First, let's install some libraries and import some dependencies:

In [17]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import time 
from splinter import Browser
from flask import Flask, jsonify, request

In [18]:
executable_path = {'executable_path': 'C:/Users/Sal/Desktop/Chrome Driver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

NASA Mars News

In [5]:
# Visit the NASA newspage. 
nasa_news_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_news_url)

In [6]:
# Get html code. 
html = browser.html
soup = bs(html,"html.parser")

In [7]:
news_title  = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_p}")

Title: Mars Virtual Reality Software Wins NASA Award
Para: A mixed-reality software that allows scientists and engineers to virtually walk on Mars has received NASA's 2018 Software of the Year Award.

JPL Mars Space Images - Featured Image

In [20]:
# Visit the JPL site which includes the featured image and extract the html code.  
jpl_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_image_url)

#Use splinter to navigate the site and find the image url for the current Featured Mars Image 
and assign the url string to a variable called featured_image_url.

In [21]:
html = browser.html
soup = bs(html,"html.parser")

featured_image_url = soup.find('a', {'id': 'full_image', 'data-fancybox-href': True}).get('data-fancybox-href')

In [22]:
split_url = featured_image_url.split('/')
split_url

['', 'spaceimages', 'images', 'mediumsize', 'PIA11591_ip.jpg']

In [23]:
pia_url = split_url[-1]
pia_url

'PIA11591_ip.jpg'

In [12]:
base_image_url = "https://photojournal.jpl.nasa.gov/jpeg/"

In [13]:
pia_final = pia_url.split('_')[0]+'.jpg'

In [14]:
full_image_url = base_image_url + pia_final
full_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA16565.jpg'

Mars Weather Twitter Visit

In [15]:
mars_weather_twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_twitter_url)

html = browser.html
soup = bs(html,"html.parser")

mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather

'And finally - a stack of all the images - you can see so much detail here https://dougellison.smugmug.com/Machines/Space-X-SAOCOM-1A/i-zbJzq8L\xa0…pic.twitter.com/9nLwAH3oZQ'

Mars Facts

In [16]:
mars_facts_url = "https://space-facts.com/mars/"

In [17]:
mars_facts_tb1 = pd.read_html(mars_facts_url)[0]
mars_facts_tb1.columns=['Unit of Measure', 'Metric']
mars_facts_tb1

        Unit of Measure                         Metric
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_facts_tb1.to_html().replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Unit of Measure</th>      <th>Metric</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [19]:
mars_hemi_urls = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hemi_urls)

html = browser.html
soup = bs(html,"html.parser")

In [20]:
#Loop through the class="item" by clicking the h3 tag and getting the title and url. 

images = soup.find('div', class_='collapsible results')
mars_hemi_urls = []

for i in range(len(images.find_all("div", class_="item"))):
    time.sleep(5)
    image = browser.find_by_tag('h3')
    image[i].click()
    html = browser.html
    soup = bs(html, 'html.parser')
    title = soup.find("h2", class_="title").text
    div = soup.find("div", class_="downloads")
    for li in div:
               link = div.find('a')
    url = link.attrs['href']
    hemispheres = {
            'title' : title,
            'img_url' : url
        }
    mars_hemi_urls.append(hemispheres)
    browser.back()

AttributeError: 'NoneType' object has no attribute 'find_all'

In [ ]:
mars_hemi_urls